{% extends 'admin/base.html.twig' %}
{% block content %}
<div class="main">
    <div class="about_banner_img"><img src="{{ asset('images/blog_img1.jpg')}}" class="img-responsive" alt=""/></div>
    <div class="about_banner_wrap">
        <h1 class="m_11">Blog</h1>
    </div>
    <div class="border"> </div>
    <div class="container">
        <div class="row single-top">
            <div class="col-md-8">
                {% for e in postes %}
                    <div class="blog_box">
                        <div class="blog_grid">
                            <h3><a href="blog_single.html"> {{e.titre }} </a></h3><i class="document"> </i>
                            <a href="blog_single.html"><img src="{{ asset('uploads/images/'| imagine_filter('test2') ) }}{{e.image}}" alt=""/></a>
                            <div class="singe_desc">
                                <p> {{e.sujet }}</p>
                                <div class="comments">
                                    <ul class="links">
                                        <li><a href="#"><i class="blog_icon1"> </i><br><span>April 14, 2015</span></a></li>
                                        <li><a href="#"><i class="blog_icon2"> </i><br><span>admin</span></a></li>
                                        <li><a href="#"><i class="blog_icon3"> </i><br><span>1206</span></a></li>
                                        <li><a href="#"><i class="blog_icon4"> </i><br><span>1206</span></a></li>
                                    </ul>
                                    <div class="btn_blog"><a href="{{ path("commantaire",{"id":e.id}) }}"class="btn btn-primary btn-lg btn-block">Read More</a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <ul class="dc_pagination dc_paginationA dc_paginationA06">
                    <li><a href="#" class="current">Prev</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">...</a></li>
                    <li><a href="#">19</a></li>
                    <li><a href="#">20</a></li>
                    <li><a href="#" class="current">Next</a></li>
                </ul>
            </div>
            <div class="col-md-4 ">
                <ul class="blog-list">
                    <h4>Categories</h4>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Aerobics</a></li>
                    <li><a href="#">Crossfit</a></li>
                    <li><a href="#">Spinning</a></li>
                    <li><a href="#">news</a></li>
                </ul>
                <ul class="recent-list">
                    <h4>Recent Posts</h4>
                    <li><a href="#">aliquam erat volutpat</a><br><span>25 April 2015</span></li>
                    <li><a href="#">aliquam erat volutpat</a><br><span>25 April 2015</span></li>
                    <li><a href="#">aliquam erat volutpat</a><br><span>25 April 2015</span></li>
                    <li><a href="#">aliquam erat volutpat</a><br><span>25 April 2015</span></li>
                </ul>
                <ul class="single_times">
                    <h3>Opening <span class="opening">Hours</span></h3>
                    <li><i class="calender"> </i><span class="week_class">Monday</span><div class="hours_class">h.6:00-h.24:00</div>  <div class="clear"></div></li>
                    <li><i class="calender"> </i><span class="week_class">Tuesday</span><div class="hours_class">h.6:00-h.24:00</div>  <div class="clear"></div></li>
                    <li><i class="calender"> </i><span class="week_class">Wednesday</span><div class="hours_class">h.6:00-h.24:00</div>  <div class="clear"></div></li>
                    <li><i class="calender"> </i><span class="week_class">Thrusday</span><div class="hours_class">h.6:00-h.24:00</div>  <div class="clear"></div></li>
                    <li><i class="calender"> </i><span class="week_class">Friday</span><div class="hours_class">h.6:00-h.24:00</div>  <div class="clear"></div></li>
                    <li><i class="calender"> </i><span class="week_class">Saturday</span><div class="hours_class">h.6:00-h.24:00</div>  <div class="clear"></div></li>
                    <li><i class="calender"> </i><span class="week_class">Sunday</span><div class="hours_class">h.6:00-h.24:00</div>  <div class="clear"></div></li>
                </ul>
                <div class="course_demo">
                    <ul id="flexiselDemo3">
                        <li><img src="images/pic4.jpg" /><div class="desc">
                                <h3>Lorem Ipsum<br><span class="m_text">Spinning</span></h3>
                                <p>Lorem ipsum dolor<br> sit amet, consectetuer.</p>
                                <div class="coursel_list">
                                    <i class="heart1"> </i>
                                    <i class="like"> </i>
                                </div>
                                <div class="coursel_list1">
                                    <i class="twt"> </i>
                                    <i class="fb"> </i>
                                </div>
                                <div class="clear"></div>
                            </div></li>
                        <li><img src="images/pic5.jpg" /><div class="desc">
                                <h3>Lorem Ipsum<br><span class="m_text">Kik Boxing</span></h3>
                                <p>Lorem ipsum dolor<br> sit amet, consectetuer.</p>
                                <div class="coursel_list">
                                    <i class="heart2"> </i>
                                    <i class="like1"> </i>
                                </div>
                                <div class="coursel_list1">
                                    <i class="twt"> </i>
                                    <i class="fb"> </i>
                                </div>
                                <div class="clear"></div>
                            </div></li>
                        <li><img src="images/pic4.jpg" /><div class="desc">
                                <h3>Lorem Ipsum<br><span class="m_text">Spinning</span></h3>
                                <p>Lorem ipsum dolor<br> sit amet, consectetuer.</p>
                                <div class="coursel_list">
                                    <i class="heart2"> </i>
                                    <i class="like1"> </i>
                                </div>
                                <div class="coursel_list1">
                                    <i class="twt"> </i>
                                    <i class="fb"> </i>
                                </div>
                                <div class="clear"></div>
                            </div></li>
                        <li><img src="images/pic5.jpg" /><div class="desc">
                                <h3>Lorem Ipsum<br><span class="m_text">Kik Boxing</span></h3>
                                <p>Lorem ipsum dolor<br> sit amet, consectetuer.</p>
                                <div class="coursel_list">
                                    <i class="heart2"> </i>
                                    <i class="like1"> </i>
                                </div>
                                <div class="coursel_list1">
                                    <i class="twt"> </i>
                                    <i class="fb"> </i>
                                </div>
                                <div class="clear"></div>
                            </div></li>
                        <li><img src="images/pic4.jpg" /><div class="desc">
                                <h3>Lorem Ipsum<br><span class="m_text">Spinning</span></h3>
                                <p>Lorem ipsum dolor<br> sit amet, consectetuer.</p>
                                <div class="coursel_list">
                                    <i class="heart2"> </i>
                                    <i class="like1"> </i>
                                </div>
                                <div class="coursel_list1">
                                    <i class="twt"> </i>
                                    <i class="fb"> </i>
                                </div>
                                <div class="clear"></div>
                            </div></li>
                    </ul>
                    <script type="text/javascript">
                        $(window).load(function() {
                            $("#flexiselDemo3").flexisel({
                                visibleItems: 4,
                                animationSpeed: 1000,
                                autoPlay: true,
                                autoPlaySpeed: 3000,
                                pauseOnHover: true,
                                enableResponsiveBreakpoints: true,
                                responsiveBreakpoints: {
                                    portrait: {
                                        changePoint:480,
                                        visibleItems: 1
                                    },
                                    landscape: {
                                        changePoint:640,
                                        visibleItems: 2
                                    },
                                    tablet: {
                                        changePoint:768,
                                        visibleItems: 2
                                    }
                                }
                            });

                        });
                    </script>
                    <script type="text/javascript" src="js/jquery.flexisel.js"></script>
                </div>
                <h3 class="m_14">Membership Prices</h3>
                <div class="members">
                    <h4 class="m_3">25% Discount of for all members</h4>
                    <p>Discount on services and <br>treatments at the GymBase for<br> all membership cards holders.</p>
                    <div class="btn1">
                        <a href="#">More</a>
                    </div>
                </div>
                <ul  class="blog-list1">
                    <h4>Tags</h4>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Html5</a></li>
                    <li><a href="#">Wordpress</a></li>
                    <li><a href="#">Logo</a></li>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Wordpress</a></li>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Html5</a></li>
                    <li><a href="#">Wordpress</a></li>
                    <li><a href="#">Logo</a></li>
                    <div class="clear"></div>
                </ul>
                <ul class="archive-list">
                    <h4>Archive</h4>
                    <li><a href="#">2015</a></li>
                    <li><a href="#">2013</a></li>
                    <li><a href="#">2012</a></li>
                </ul>
                <h3 class="m_15">Partner</h3>
                <ul class="partner_blog">
                    <li><img src="images/p6.png" alt=""/></li>
                    <li><img src="images/p5.png" alt=""/></li>
                    <li><img src="images/p4.png" alt=""/></li>
                    <li><img src="images/p3.png" alt=""/></li>
                    <li><img src="images/p2.png" alt=""/></li>
                    <li><img src="images/p1.png" alt=""/></li>
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
{% endblock %}


