{% extends 'base.html.twig' %}
{% block content %}
    <table style="margin-left: 200px;" border="2" CELLPADDING="4" CELLSPACING="4" WIDTH="70%"class=" table-dark">


        <thead>
        <tr>
            <th>id</th>
            <th>nom</th>
            <th>prenom</th>
            <th>specialite</th>
            <th>date</th>

            <th>meet</th>



        </tr>



        </thead>
        <tbody >

        {% for specialist  in specialists %}


            <td>{{ specialist.id }}</td>

            <td>{{ specialist.nom }}</td>
                <td>{{ specialist.prenom }}</td>
                <td>{{ specialist.specialite }}</td>
            <td>{{ specialist.date ? specialist.date|date('Y-m-d') : '' }}</td>
            <td>{{ specialist.meet }}</td>

            <td> <a href="{{  path("deletespecialist",{"id":specialist.id}) }}" class="btn btn-outline-danger" role="button" aria-pressed="true">Suprimer</a></td>
            <td> <a href="{{ path("modifierspecialist",{"id":specialist.id}) }}" class="btn btn-outline-warning" role="button" aria-pressed="true">Modifier</a></td>





        </tr>
        {% endfor %}
        </tbody>







    </table>
    <center>
    <br>
    <td> <a href="{{ path("specialistajouter") }}" class="btn btn-outline-success" role="button" aria-pressed="true" >Ajouter</a></td>
        {% endblock %}
