{% extends 'base.html.twig' %}

{% block title %}Programme{% endblock %}

{% block body %}
    <h1>Programme</h1>
    <link href={{ asset("vendor/datatables/dataTables.bootstrap4.min.css")}} rel="stylesheet">

    <table class="datableid">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ programme.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ programme.name }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ programme.type }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img height="70px" width="100px" src="{{ asset('uploads/images/') }}{{programme.image}}"></td>
            </tr>
            <tr>
                <th>Days</th>
                <td>{{ programme.days }}</td>
            </tr>
        </tbody>
    </table>

<button class="btn btn-info btn-icon-split"> <a href="{{ path('programme_index') }}">back to list</a></button>

<button class="btn btn-info btn-icon-split">   <a href="{{ path('programme_edit', {'id': programme.id}) }}">edit</a></button>

    {{ include('programme/_delete_form.html.twig') }}

    <script src={{ asset("vendor/datatables/jquery.dataTables.min.js") }}></script>
    <script src={{ asset("vendor/datatables/dataTables.bootstrap4.min.js")}}></script>
{% endblock %}
